<ion-header  class="ion-no-border">
  <ion-toolbar #showbg class="no-background">
    <ion-buttons slot="start">
      <ion-button color="light" class="tulbtn" (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="showup" #showup class="hide ion-text-right ion-text-capitalize">{{pageTitle}} Faults</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [appFadeup]="showup">
  
  <ion-card>
    <img src="../../../assets/images/{{pageData.banner}}" />
    <ion-card-header>
      <ion-card-title>{{pageTitle}} Faults</ion-card-title>
      <ion-card-subtitle>{{pageData.desc}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item *ngFor="let item of pageData.faults;index as i" button (click)="show(item)">
        <ion-thumbnail [slot]="i % 2 == 0 ? 'start' : 'end'">
          <img src="../../../assets/images/{{item.image}}">
        </ion-thumbnail>
        <ion-label>
          <h3>{{item.name}}</h3>
          <p>{{item.shortDesc}}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
